{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Post Update{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <form class="container" action="" method="post">
            {% csrf_token %}
            <h1 class="text-danger text-center">Update "{{post.title}}"</h1>
            {{form|crispy}}
            <div class="button-container text-center">
                <button type="submit" class="btn btn-lg btn-success">Update</button>
            </div>
        </form>
    </div>
{% endblock content%}